<div class="card blue lighten-5">
  <div class="card-content">
    <div class="card-title">
      <span style="font-weight: 600">TIC TAC TOE</span>
    </div>

    {% for row in game.board %}
      <div class="board-row">
        {% for col in row %}
          <form
              class="cellBlockForm"
              style="display: inline"
              id="cell-{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"
          >
            <input type="hidden" name="row" value="{{ forloop.parentloop.counter0 }}"/>
            <input type="hidden" name="col" value="{{ forloop.counter0 }}"/>
            <button class="square white"></button>
          </form>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
