{% extends 'base.html' %}

{% block extra_css %}
  <style>
    .board-row {
      clear: both;
      display: table;
      content: "";
      margin: auto;
    }

    .square {
      background: #fff;
      border: 2px solid #999;
      border-radius: .3em;
      box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
      float: left;
      font-size: 50px;
      font-weight: bolder;
      line-height: 34px;
      height: 100px;
      margin: 2px;
      padding: 0;
      text-align: center;
      width: 100px;
    }

    .square:focus {
      outline: none;
      border: 3px solid #999;
    }

    .square:hover {
      border: 3px solid #999;
    }

    .sidenav li > span {
      color: rgba(0,0,0,0.87);
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }

    #changeSymbol {
      margin-left: -5px;
      display: inline;
      cursor: pointer;
    }
  </style>
{% endblock extra_css %}

{% block title %}
  VS. Player {% if username %}<{{ username }}>{% else %}[Select User]{% endif %}
{% endblock title %}

{% block container_content %}
  {% if username %}
    <div  class="col l2">
      <div class="card green lighten-2">
        <div class="card-content">
          <div class="card-title">
            <strong>YOU</strong>
          </div>

          <table style="font-weight: bold">
            <tr>
              <td>Status</td>
              <td colspan="2">Connected</td>
            </tr>
            <tr>
              <td>
                <span>Symbol</span>
              </td>
              <td style="width: 100%">{{ you.symbol }}</td>
              <td >
                <button id="changeSymbol" class="transparent">
                  <i class="material-icons" style="font-size: 22px">change_circle</i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Wins</td>
              <td colspan="2">{{ you.wins }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col l5 center-align center">
      {% include 'games/snippets/p2p_game_board.html' with game=game%}
      <small class="text-lighten-2">Last game {{ game.updated }}</small><br>
      <small class="text-darken-4"><strong>Total Games: {{ game.total_games }}</strong></small>
    </div>

    <div class="col l2">
      <div class="card orange lighten-4">
        <div class="card-content">
          <div class="card-title">
            <strong>{{ username }}</strong>
          </div>

          <table style="font-weight: bold">
            <tr>
              <td>Status </td>
              <td id="opponentStatus">Joining</td>
            </tr>
            <tr>
              <td>Symbol</td>
              <td>{{ opponent.symbol }}</td>
            </tr>
            <tr>
              <td>Wins</td>
              <td>{{ opponent.wins }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div  class="col l2 m1">&nbsp;</div>

    <div class="col l5 m10 center-align center">
      <div class="card-panel">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text">
          <label for="username">Username</label>
          <span class="helper-text left-align" data-error="wrong" data-success="right">
            Enter username and press Enter to start the game.
          </span>
        </div>
      </div>
    </div>

    <div class="col l2 m1 hide-on-med-and-down">&nbsp;</div>
    {% endif %}

{% endblock container_content %}

{% block extra_script %}
  {% if username %}
    <script>
      (function() {
        console.log('Game with player');
        const WS_RECONNECT_TIMEOUT = 2000;
        const CURRENT_USER = '{{ request.user }}';
        let myTurn = false;

        const WS_MSG_TYPE = {
          'PLAYER_JOIN': 'player.join',
          'PLAYER_MOVE': 'player.move',
          'PLAYER_LEFT': 'player.left',
          'NEW_GAME': 'new.game',
          'GAME_OVER': 'game.over',
          'PLAY_GAME': 'play.game',
        }

        let ws = null;

        const sendJson = (data) => {
          ws.send(JSON.stringify(data))
        }

        const handlePlayerJoin = () => {
          sendJson({'type': WS_MSG_TYPE.PLAY_GAME, 'user': CURRENT_USER, 'message': 'Lets play'});
        }

        const handlePlayGame = () => {
          Array.from(document.getElementsByClassName('square')).forEach(ele => {
            ele.classList.remove('grey', 'disabled');
            ele.classList.add('white');
          })
          document.getElementById('gameStatus').innerHTML = '<i class="material-icons">play_arrow</i>'
          document.getElementById('opponentStatus').innerText = 'Connected'
        }

        const handlePlayerLeft = () => {
          Array.from(document.getElementsByClassName('square')).forEach(ele => {
            ele.classList.add('grey', 'disabled');
            ele.classList.remove('white');
          })
          document.getElementById('gameStatus').innerHTML = '<i class="material-icons">pause</i>'
          document.getElementById('opponentStatus').innerText = 'Joining'
        }

        // Connect to WS
        const connect_ws = () => {
          ws = new WebSocket(
            `ws://${window.location.host}/ws/game/join/{{ opponent.id }}/`
          );

          ws.onopen = function() {
            console.log('WS open')
          };

          ws.onmessage = function(message) {
            const ws_data = JSON.parse(message.data);
            console.log('WS message', ws_data)
            switch (ws_data.type) {
              case WS_MSG_TYPE.GAME_OVER:
                console.log('GAME OVER');
                break
              case WS_MSG_TYPE.NEW_GAME:
                console.log('NEW GAME');
                break
              case WS_MSG_TYPE.PLAYER_JOIN:
                console.log('PLAYER JOIN');
                if (ws_data['user'] !== CURRENT_USER) {
                  handlePlayerJoin()
                }
                break
              case WS_MSG_TYPE.PLAYER_MOVE:
                console.log('PLAYER MOVE');
                break
              case WS_MSG_TYPE.PLAYER_LEFT:
                console.log('PLAYER LEFT')
                handlePlayerLeft();
                break
              case WS_MSG_TYPE.PLAY_GAME:
                console.log('PLAY GAME');
                handlePlayGame();
                break
              default:
                console.error('Invalid type')
                break
            }
          };

          ws.onclose = function() {
            console.log('WS close');
            setTimeout(function() {
              console.log('Reconnecting...');
              connect_ws();
            }, WS_RECONNECT_TIMEOUT);
          };

          ws.onerror = function() {
            console.log('WS error');
          };
        }
        connect_ws();
      })()
    </script>
  {% else %}
    <script>
      document.getElementById('username').addEventListener('keyup', function(e) {
        console.log(e)
        if (e.key === 'Enter' && e.target.value.length > 0) {
          window.location = window.location.pathname + e.target.value;
        }
      })
    </script>
  {% endif %}
{% endblock extra_script %}
