<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TIC-TAC-TOE - Play</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .board-row {
        clear: both;
        display: table;
        content: "";
      }

      .square {
        background: #fff;
        border: 1px solid #999;
        float: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        height: 120px;
        margin-right: -1px;
        margin-left: -1px;
        padding: 0;
        text-align: center;
        width: 120px;
      }

      .square:focus {
        outline: none;
        border: 3px solid #999;
      }

      .square:hover {
        border: 3px solid #999;
      }

      .sidenav li > span {
        color: rgba(0,0,0,0.87);
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
    }
    </style>
  </head>
  <body>

    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">TIC-TAC-TOE</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://github.com/abhie-lp/tic-tac-toe-django"><i class="material-icons">code</i></a></li>
          <li><span style="font-weight: bold">{{ request.user.username }}</span></li>
          <li><a href="{% url 'logout' %}" style="font-weight: bold">Logout</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li class="cyan lighten-4"><a href="https://github.com/abhie-lp/tic-tac-toe-django"><i class="material-icons">code</i></a></li>
      <li class="cyan lighten-4"><span style="font-weight: bolder">{{ request.user.username }}</span></li>
      <li class="cyan lighten-4"><a href="{% url 'logout' %}" style="font-weight: bolder">Logout</a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l7 offset-l3" style="margin-top: 2%">
          {% with game=request.user.game %}
            <div class="card blue lighten-5" style="height: 500px; width: 410px">
              <div class="card-content">
                <div class="card-title">
                  <span class="left" style="font-weight: 600">
                    Tic-Tac-Toe
                  </span>
                  <div class="right" style="width: 150px; font-size: 13px; margin-top: -15px">
                    <strong style="font-weight: bold">Turn: </strong>
                    <span id="playerTurn">PLAYER</span>
                    <br>
                    <span style="font-weight: bold">Status: </span>
                    <span id="gameStatus">
                      {% if game.winner == None %}
                        ONGOING
                      {% elif game.winner == 'C' %}
                        COMPUTER WINS
                      {% elif game.winner == 'T' %}
                        TIE
                      {% else %}
                        PLAYER WINS
                      {% endif %}
                    </span>
                  </div>
                </div>

                {% for row in game.board %}
                  <div class="board-row">

                    {% if game.winner %}
                      {% for col in row %}
                        {% if col == '1' %}
                          <button class="square grey lighten-3">{{ game.symbol }}</button>
                        {% elif col == '2' %}
                          {% if game.symbol == 'X' %}
                            <button class="square deep-orange lighten-2">O</button>
                          {% else %}
                            <button class="square deep-orange lighten-2">X</button>
                          {% endif %}
                        {% else %}
                          <button class="square white"></button>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for col in row %}
                        {% if col == '1' %}
                          <button class="square grey lighten-3">{{ game.symbol }}</button>
                        {% elif col == '2' %}
                          {% if game.symbol == 'X' %}
                            <button class="square white">O</button>
                          {% else %}
                            <button class="square white">X</button>
                          {% endif %}
                        {% else %}
                          <form
                              class="cellBlockForm"
                              style="display: inline"
                              id="cell-{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"
                          >
                            <input type="hidden" name="row" value="{{ forloop.parentloop.counter0 }}"/>
                            <input type="hidden" name="col" value="{{ forloop.counter0 }}"/>
                            <button class="square white"></button>
                          </form>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endfor %}

              </div>
              <div class="card-action">
                {% if game.moves_left == 9 %}
                  <div class="center" id="computerFirst" style="font-weight: bold; margin-bottom: 5px">
                    <button
                        class="red btn-small waves-effect waves-red"
                        type="button"
                        style="font-weight: bold"
                    >
                      Computer First
                    </button>
                  </div>
                {% endif %}

                <div class="game-info center" style="font-weight: bold; margin-bottom: 5px">
                  <div class="status">
                    Your chosen symbol is <span id="chosen-symbol">{{ game.symbol }}</span>. &nbsp;
                    <button
                        id="changeSymbolBtn"
                        class="waves-effect waves-light btn-small"
                        style="font-weight: bold"
                    >
                      Change
                    </button>
                  </div>
                </div>

                <div class="center">
                  <a
                      class="red btn-small waves-effect waves-orange orange"
                      href="{% url 'reset_game' %}"
                      style="font-weight: bold"
                  >
                    NEW GAME
                  </a>
                </div>
              </div>
            </div>
          {% endwith %}
        </div>
      </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems);
      });


      (() => {
        let gameNotStarted = true
        const blocks = document.getElementsByClassName("square")
        let blockRequest = false
        let gameOver = false
        const Winner = Object.freeze({
          Computer: 'C',
          Player: 'P',
          Tie: 'T',
        })

        const gameStatusElement = document.getElementById("gameStatus")
        const playerTurnElement = document.getElementById("playerTurn")

        for (let ele of Array.from(blocks)) {
          const innerText = ele.textContent.trim()
          if (innerText === 'X' || innerText === 'O') {
            gameNotStarted = false;
            document.getElementById("changeSymbolBtn").remove()
            document.getElementById("computerFirst").remove()
            break
          }
        }

         Array.from(blocks).forEach(ele => ele.addEventListener("click", (event) => {
          if (gameNotStarted) {
            document.getElementById("changeSymbolBtn").remove()
            document.getElementById("computerFirst").remove()
            gameNotStarted = false
          }
        }))

        const comSymbol = player_symbol => player_symbol === 'X' ? 'O' : 'X'
        const createButtonSymbol = (symbol, player) => {
          const button = document.createElement("button")
          button.classList.add("square", ...(player === true ? ['grey', 'lighten-3'] : ['white']))
          button.textContent = symbol
          return button
        }

        const updatePlayerTurn = () => (
            playerTurnElement.innerText = playerTurnElement.innerText === "PLAYER" ? "COMPUTER" : "PLAYER"
        )

        const handleMove = (json) => {
          if (json["com_position"] !== null) {
            const com = json['com_position']
            document.getElementById(`cell-${com['row']}${com['col']}`).replaceWith(
                createButtonSymbol(comSymbol(json['player']))
            )
          }

          if (json['win_status'] !== null) {
            gameOver = true
            const { row, col, diagonal, winner } = json['win_status']
            const cellBlocks = document.querySelectorAll(".board-row button")
            const width = 3
            const wonCellBlocks = []
            if (row != null) {
              // Win by row
              for (let col of [0, 1, 2]) {
                wonCellBlocks.push(cellBlocks[width * row + col])
              }
            } else if (col != null) {
              // Win by column
              for (let row of [0, 1, 2]) {
                wonCellBlocks.push(cellBlocks[width * row + col])
              }
            } else if (diagonal != null) {
              // Win by diagonal
              switch (diagonal) {
                case 'F':
                  for (let i of [0, 1, 2]) {
                    wonCellBlocks.push(cellBlocks[width * i + i])
                  }
                  break
                case 'B':
                  for (let i of [2, 1, 0]) {
                    wonCellBlocks.push(cellBlocks[width * (width - i - 1) + i])
                  }
                  break
              }
            }
            switch (winner) {
              case Winner.Player:
                // Player Wins
                wonCellBlocks.forEach(cell => {
                  cell.classList.remove("grey")
                  cell.classList.add("green", "lighten-2")
                })
                gameStatusElement.textContent = "PLAYER WINS"
                break
              case Winner.Computer:
                // Computer Wins
                wonCellBlocks.forEach(cell => {
                  cell.classList.remove("white")
                  cell.classList.add("orange", "lighten-2")
                })
                gameStatusElement.textContent = "COMPUTER WINS"
                break
              case Winner.Tie:
                gameStatusElement.textContent = "TIE"
                break
            }
            playerTurnElement.textContent = "-"
          } else {
            playerTurnElement.textContent = updatePlayerTurn()
          }
          blockRequest = false
        }

        const forms = document.getElementsByClassName("cellBlockForm")
        Array.from(forms).forEach(form => form.addEventListener("submit", (event) => {
          event.preventDefault();
          if (!blockRequest && !gameOver) {
            blockRequest = true;
            event.target.replaceWith(
                createButtonSymbol(document.getElementById("chosen-symbol").textContent, true)
            )
            playerTurnElement.textContent = updatePlayerTurn()

            const formData = new FormData(event.target)
            fetch(
                "{% url 'make_move' %}",
                {
                  method: "post",
                  body: formData
                }
            )
                .then(res => res.json())
                .then(json => {
                  handleMove(json)
                })
          }

        }))

        // Add event listener to COMPUTER FIRST button
        document.getElementById("computerFirst").addEventListener("click", (event) => {
          if (!blockRequest && !gameOver) {
            blockRequest = true;
            event.target.remove()
            document.getElementById("changeSymbolBtn").remove()
            playerTurnElement.textContent = updatePlayerTurn()

            const formData = new FormData()
            formData.set("computerFirst", "1")
            fetch(
                "{% url 'make_move' %}",
                {
                  method: "post",
                  body: formData
                }
            )
                .then(res => res.json())
                .then(json => {
                  handleMove(json)
                })
          }
        })

        const changeSymbolBtn = document.getElementById('changeSymbolBtn')
        if (changeSymbolBtn !== undefined && changeSymbolBtn !== null) {
          changeSymbolBtn.addEventListener("click", () => {
            fetch('{% url 'change_symbol' %}')
                .then(res => res.text())
                .then(text => {
                  const span = document.getElementById("chosen-symbol")
                  span.textContent = text
                })
          })
        }

      })()
    </script>
  </body>
</html>
