{% extends 'base.html' %}

{% block extra_css %}
  <style>
    .board-row {
      clear: both;
      display: table;
      content: "";
      margin: auto;
    }

    .square {
      background: #fff;
      border: 2px solid #999;
      border-radius: .3em;
      box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
      float: left;
      font-size: 50px;
      font-weight: bolder;
      line-height: 34px;
      height: 100px;
      margin: 2px;
      padding: 0;
      text-align: center;
      width: 100px;
    }

    .square:focus {
      outline: none;
      border: 3px solid #999;
    }

    .square:hover {
      border: 3px solid #999;
    }
    
    .blockMove {
      cursor: not-allowed;
    }

    .sidenav li > span {
      color: rgba(0,0,0,0.87);
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }

    #changeSymbol {
      margin-left: -5px;
      display: inline;
      cursor: pointer;
    }
  </style>
{% endblock extra_css %}

{% block title %}
  VS. Player {% if username %}<{{ username }}>{% else %}[Select User]{% endif %}
{% endblock title %}

{% block container_content %}
  {% if username %}
    <div  class="col l2">
      <div class="card green lighten-2">
        <div class="card-content">
          <div class="card-title">
            <strong>YOU</strong>
          </div>

          <table style="font-weight: bold">
            <tr>
              <td>Status</td>
              <td colspan="2">Connected</td>
            </tr>
            <tr>
              <td>
                <span>Symbol</span>
              </td>
              <td id="mySymbol">{{ you.symbol }}</td>
              <td >
                <button id="changeSymbol" class="transparent" {% if game.moves_left != 9 %}disabled{% endif %}>
                  <i class="material-icons" style="font-size: 22px">change_circle</i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Wins</td>
              <td id="myWins" colspan="2">{{ you.wins }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col l5 center-align center">
      {% include 'games/snippets/p2p_game_board.html' with game=game%}
      <small class="text-lighten-2">Last game {{ game.updated }}</small><br>
      <small class="text-darken-4"><strong>Total Games: {{ game.total_games }}</strong></small>
    </div>

    <div class="col l2">
      <div class="card orange lighten-4">
        <div class="card-content">
          <div class="card-title">
            <strong>{{ username }}</strong>
          </div>

          <table style="font-weight: bold">
            <tr>
              <td>Status </td>
              <td id="opponentStatus">Joining</td>
            </tr>
            <tr>
              <td>Symbol</td>
              <td id="opponentSymbol">{{ opponent.symbol }}</td>
            </tr>
            <tr>
              <td>Wins</td>
              <td id="opponentWins">{{ opponent.wins }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div  class="col l2 m1">&nbsp;</div>

    <div class="col l5 m10 center-align center">
      <div class="card-panel">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text">
          <label for="username">Username</label>
          <span class="helper-text left-align" data-error="wrong" data-success="right">
            Enter username and press Enter to start the game.
          </span>
        </div>
      </div>
    </div>

    <div class="col l2 m1 hide-on-med-and-down">&nbsp;</div>
    {% endif %}

{% endblock container_content %}

{% block extra_script %}
  {% if username %}
    <script>
      (function() {
        console.log('Game with player');
        const WS_RECONNECT_TIMEOUT = 2000;
        const CURRENT_USER = '{{ request.user.username }}';
        const OTHER_USER = '{{ username }}';
        let GAME_OVER = false;
        if ("{{ game.moves_left }}" === '0' || "{{ game.winner }}".length === 1) {
          GAME_OVER = true;
        }
        let MOVES_MADE = false;
        let MY_TURN = true;
        let MY_SYMBOL = document.getElementById('mySymbol').innerText.trim();
        let OPPONENT_SYMBOL = document.getElementById('opponentSymbol').innerText.trim();

        const GAME = {
          CHANGE_SYMBOL_BTN: document.getElementById('changeSymbol'),
          NEW_GAME: document.getElementById('newGame'),
          CELL_BLOCKS: Array.from(document.getElementsByClassName('square')),
          GAME_STATUS: document.getElementById('gameStatus'),
          OPPONENT_STATUS: document.getElementById('opponentStatus'),
          MY_SYMBOL:  document.getElementById('mySymbol'),
          OPPONENT_SYMBOL: document.getElementById('opponentSymbol'),
          MY_WINS: document.getElementById('myWins'),
          OPPONENT_WINS: document.getElementById('opponentWins'),
        };

        const WS_MSG_TYPE = {
          PLAYER_JOIN: 'player.join',
          PLAYER_MOVE: 'player.move',
          PLAYER_LEFT: 'player.left',
          NEW_GAME: 'new.game',
          GAME_OVER: 'game.over',
          PLAY_GAME: 'play.game',
          CHANGE_SYMBOL: 'change.symbol',
        }

        let ws = null;

        const sendJson = (data) => {
          ws.send(JSON.stringify(data))
        }

        const blockEmptyCells = () => {
          GAME.CELL_BLOCKS.forEach(ele => {
            if (ele.textContent.trim().length === 0) {
              ele.classList.add('blockMove');
              ele.disabled = true;
            }
          });
        }

        const changeChangeSymbolBtn = () => {
          if (!MOVES_MADE) {
            GAME.CHANGE_SYMBOL_BTN.disabled = true;
            GAME.CHANGE_SYMBOL_BTN.style.cursor = 'not-allowed';
            MOVES_MADE = true;
          }
        }

        const enableEmptyCells = () => {
          GAME.CELL_BLOCKS.forEach(ele => {
            if (ele.textContent.trim().length === 0) {
              ele.disabled = false;
              ele.classList.remove('blockMove');
            }
          })
        }

        const handlePlayerJoin = () => {
          sendJson({'type': WS_MSG_TYPE.PLAY_GAME, 'user': CURRENT_USER, 'message': 'Lets play'});
        }

        const handlePlayGame = () => {
          GAME.CELL_BLOCKS.forEach(ele => {
            ele.classList.remove('grey');
            if (!GAME_OVER && ele.textContent.trim().length === 0) {
              ele.disabled = false;
            }
            let color = 'white'
            if (ele.textContent.trim() === MY_SYMBOL) {
              color = 'green';
            } else if (ele.textContent.trim() === OPPONENT_SYMBOL) {
              color = 'orange'
            }
            ele.classList.add(color);
          })
          if (!GAME_OVER) {
            GAME.GAME_STATUS.innerHTML = '<i class="material-icons">play_arrow</i>'
          }
          GAME.OPPONENT_STATUS.innerText = 'Connected'
        }

        const handlePlayerLeft = () => {
          GAME.CELL_BLOCKS.forEach(ele => {
            ele.classList.add('grey', 'disabled');
            ele.classList.remove('white');
          })
          GAME.GAME_STATUS.innerHTML = '<i class="material-icons">pause</i>'
          GAME.OPPONENT_STATUS.innerText = 'Joining'
        }

        const handleButtonClick = (button) => {
          if (MY_TURN) {
            button.innerText = MY_SYMBOL;
            const row = Number.parseInt(button.dataset.row);
            const col = Number.parseInt(button.dataset.col);
            button.classList.remove('white')
            button.classList.add('green');
            button.disabled = true;
            sendJson({
              type: WS_MSG_TYPE.PLAYER_MOVE,
              user: CURRENT_USER,
              row: row,
              col: col,
              symbol: MY_SYMBOL
            });
            MY_TURN = false;
            blockEmptyCells();
          }

          if (!MOVES_MADE) {
            changeChangeSymbolBtn();
          }
        }

        const handlePlayerMove = (data) => {
          MY_TURN = true;
          enableEmptyCells();
          const button = document.getElementById(`cell-${data["row"]}${data["col"]}`);
          button.innerText = data["symbol"];
          button.classList.remove('white')
          button.classList.add('orange');
          button.disabled = true;
          if (!MOVES_MADE) {
            changeChangeSymbolBtn();
          }
        }

        const handleChangeSymbolBtnClick = () => {
          sendJson({type: WS_MSG_TYPE.CHANGE_SYMBOL, user: CURRENT_USER})
        }

        const handleChangeSymbol = (data) => {
          GAME.MY_SYMBOL.textContent = data[CURRENT_USER];
          GAME.OPPONENT_SYMBOL.textContent = data[OTHER_USER];
          MY_SYMBOL = data[CURRENT_USER];
          OPPONENT_SYMBOL = data[OTHER_USER];
        }

        const colorWinBoxes = (win) => {
          const width = 3
          const wonCellBlocks = []
          if (win["row"] != null) {
            // Win by row
            for (let col of [0, 1, 2]) {
              wonCellBlocks.push(GAME.CELL_BLOCKS[width * win['row'] + col])
            }
          } else if (win['col'] != null) {
            // Win by column
            for (let row of [0, 1, 2]) {
              wonCellBlocks.push(GAME.CELL_BLOCKS[width * row + win['col']])
            }
          } else if (win['diagonal'] != null) {
            // Win by diagonal
            switch (win['diagonal']) {
              case 'F':
                for (let i of [0, 1, 2]) {
                  wonCellBlocks.push(GAME.CELL_BLOCKS[width * i + i])
                }
                break
              case 'B':
                for (let i of [2, 1, 0]) {
                  wonCellBlocks.push(GAME.CELL_BLOCKS[width * (width - i - 1) + i])
                }
                break
            }
          }

          wonCellBlocks.forEach(cell => {
            cell.classList.remove('green', 'orange');
            cell.classList.add('blue');
          })
        }

        const handleGameOver = (data) => {
          GAME_OVER = true;
          GAME.GAME_STATUS.innerHTML =`<i class="material-icons">stop</i>`;
          GAME.NEW_GAME.disabled = false;
          GAME.MY_WINS.innerText = data[CURRENT_USER];
          GAME.OPPONENT_WINS.innerText = data[OTHER_USER];
          blockEmptyCells();
          colorWinBoxes(data['win'])
          console.log(data)
        }

        // Connect to WS
        const connect_ws = () => {
          ws = new WebSocket(
            `ws://${window.location.host}/ws/game/join/{{ opponent.id }}/`
          );

          ws.onopen = function() {
            console.log('WS open')
          };

          ws.onmessage = function(message) {
            const ws_data = JSON.parse(message.data);
            console.log('WS message', ws_data)
            switch (ws_data.type) {
              case WS_MSG_TYPE.GAME_OVER:
                console.log('GAME OVER');
                if (ws_data['user'] !== CURRENT_USER) {
                  handlePlayerMove(ws_data)
                }
                handleGameOver(ws_data)
                break
              case WS_MSG_TYPE.NEW_GAME:
                console.log('NEW GAME');
                break
              case WS_MSG_TYPE.PLAYER_JOIN:
                console.log('PLAYER JOIN');
                if (ws_data['user'] !== CURRENT_USER) {
                  handlePlayerJoin();
                }
                break
              case WS_MSG_TYPE.PLAYER_MOVE:
                console.log('PLAYER MOVE');
                if (ws_data['user'] !== CURRENT_USER) {
                  handlePlayerMove(ws_data);
                }
                break
              case WS_MSG_TYPE.PLAYER_LEFT:
                console.log('PLAYER LEFT')
                handlePlayerLeft();
                break
              case WS_MSG_TYPE.PLAY_GAME:
                console.log('PLAY GAME');
                handlePlayGame();
                break
              case WS_MSG_TYPE.CHANGE_SYMBOL:
                console.log('CHANGE SYMBOL');
                handleChangeSymbol(ws_data);
                break
              default:
                console.error('Invalid type')
                break
            }
          };

          ws.onclose = function() {
            console.log('WS close');
            setTimeout(function() {
              console.log('Reconnecting...');
              connect_ws();
            }, WS_RECONNECT_TIMEOUT);
          };

          ws.onerror = function() {
            console.log('WS error');
          };
        }
        connect_ws();

        GAME.CELL_BLOCKS.forEach(ele => {
          if (ele.textContent.trim().length === 0) {
            ele.addEventListener('click', function(e) {
              console.log('button clicked', e.target);
              handleButtonClick(e.target);
            })
          }
        });

        GAME.CHANGE_SYMBOL_BTN.addEventListener('click', function(e) {
          if (!MOVES_MADE) {
            console.log('Change Symbol')
            handleChangeSymbolBtnClick();
          }
        })
      })()
    </script>
  {% else %}
    <script>
      document.getElementById('username').addEventListener('keyup', function(e) {
        console.log(e)
        if (e.key === 'Enter' && e.target.value.length > 0) {
          window.location = window.location.pathname + e.target.value;
        }
      })
    </script>
  {% endif %}
{% endblock extra_script %}
