<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic-Tac-Toe</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css"/>
    <style>
        .board-row {
            clear: both;
            display: table;
            content: "";
        }

        .square {
            background: #fff;
            border: 1px solid #999;
            float: left;
            font-size: 24px;
            font-weight: bold;
            line-height: 34px;
            height: 120px;
            margin-right: -1px;
            margin-left: -1px;
            padding: 0;
            text-align: center;
            width: 120px;
        }

        .square:focus {
            outline: none;
            border: 3px solid #999;
        }

        .square:hover {
            border: 3px solid #999;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l7 offset-l3" style="margin-top: 10%">
            <div class="card blue lighten-5" style="height: 500px; width: 410px">
                <div class="card-content">
                        <span class="card-title" style="font-weight: bold">
                            Tic-Tac-Toe
                        </span>
                    {% with game=request.user.game %}
                        {% for row in game.board %}
                            <div class="board-row">
                                {% for col in row %}
                                    {% if col == '1' %}
                                        <button class="square grey lighten-3">{{ game.symbol }}</button>
                                    {% elif col == '2' %}
                                        {% if game.symbol == 'X' %}
                                            <button class="square grey white">O</button>
                                        {% else %}
                                            <button class="square grey white">X</button>
                                        {% endif %}
                                    {% else %}
                                        <form
                                            class="cellBlockForm"
                                            style="display: inline"
                                            id="cell-{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"
                                        >
                                            <input type="hidden" name="row" value="{{ forloop.parentloop.counter0 }}" />
                                            <input type="hidden" name="col" value="{{ forloop.counter0 }}" />
                                            <button class="square white"></button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endwith %}

                </div>
                <div class="card-action">
                    <div class="game-info center" style="font-weight: bold">
                        <div class="status">
                            Your chosen symbol is <span id="chosen-symbol">{{ request.user.game.symbol }}</span>. &nbsp;
                            <button
                                id="changeSymbolBtn"
                                class="waves-effect waves-light btn-small"
                            >
                                Change
                            </button>
                        </div>
                    </div>
                    <div class="center">
                        <a class="red btn-small waves-effect waves-red" href="{% url 'reset_game' %}">
                            RESET
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
<script>
    (() => {
        let gameNotStarted = true
        const blocks = document.getElementsByClassName("square")

        for (let ele of Array.from(blocks)) {
            const innerText = ele.textContent.trim()
            if (innerText === 'X' || innerText === 'O') {
                gameNotStarted = false;
                document.getElementById("changeSymbolBtn").remove()
                break
            }
        }

        Array.from(blocks).forEach(ele => ele.addEventListener("click", (event) => {
            if (gameNotStarted) {
                document.getElementById("changeSymbolBtn").remove()
                gameNotStarted = false
            }
        }))

        const comSymbol = player_symbol => player_symbol === 'X' ? 'O' : 'X'
        const createButtonSymbol = (symbol, player) => {
            const button = document.createElement("button")
            button.classList.add("square", ...(player === true ? ['grey', 'lighten-3']: ['white']))
            button.textContent = symbol
            return button
        }


        const forms = document.getElementsByClassName("cellBlockForm")
        Array.from(forms).forEach(form => form.addEventListener("submit", (event) => {
            event.preventDefault();
            const formData = new FormData(event.target)
            fetch(
                "{% url 'make_move' %}",
                {
                    method: "post",
                    body: formData
                }
            )
                .then(res => res.json())
                .then(json => {
                    event.target.replaceWith(createButtonSymbol(json['player'], true))
                     if (json["com_position"] !== null) {
                         const com = json['com_position']
                         console.log(com)
                         document.getElementById(`cell-${com['row']}${com['col']}`).replaceWith(
                             createButtonSymbol(comSymbol(json['player']))
                         )
                     }
                })
        }))

        const changeSymbolBtn = document.getElementById('changeSymbolBtn')
        if (changeSymbolBtn !== undefined && changeSymbolBtn !== null) {
            changeSymbolBtn.addEventListener("click", () => {
                fetch('{% url 'change_symbol' %}')
                    .then(res => res.text())
                    .then(text => {
                        const span = document.getElementById("chosen-symbol")
                        span.textContent = text
                    })
            })
        }

    })()
</script>
</body>
</html>