<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TIC-TAC-TOE - {% block title %}{% endblock title %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .inline-icons {
        {#clear: both !important;#}
        display: inline !important;
        vertical-align: top;
      }
    </style>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>

    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a href="{% url 'game_page' %}" class="brand-logo">TIC-TAC-TOE</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://github.com/abhie-lp/tic-tac-toe-django"><i class="material-icons">code</i></a></li>
          {% if request.user.is_authenticated %}
            <li>
              <i class="material-icons inline-icons">person</i>&nbsp;&nbsp;
              <span style="font-weight: bold">{{ request.user.username }}</span>
            </li>
            <li>
              <a href="{% url 'logout' %}" style="font-weight: bold">
                <i class="material-icons inline-icons">logout</i>&nbsp;&nbsp;Logout
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">
              <i class="material-icons inline-icons">login</i>&nbsp;&nbsp;Login
              </a>
            </li>
            <li>
              <a href="{% url 'register' %}">
              <i class="material-icons inline-icons">person_add</i>&nbsp;&nbsp;Register
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li class="cyan lighten-4"><a href="https://github.com/abhie-lp/tic-tac-toe-django">
        <i class="material-icons">code</i>
      </a></li>
      {% if request.user.is_authenticated %}
        <li class="cyan lighten-4">
          <a class="is-disabled" style="font-weight: bolder">
            <i class="material-icons">person</i>{{ request.user.username }}
          </a>
        </li>
        <li class="cyan lighten-4">
          <a href="{% url 'logout' %}" style="font-weight: bolder">
            <i class="material-icons">logout</i>Logout
          </a>
        </li>
      {% else %}
        <li class="cyan lighten-4">
          <a href="{% url 'login' %}" style="font-weight: bolder">
            <i class="material-icons">login</i>&nbsp;&nbsp;Login
          </a>
        </li>
        <li class="cyan lighten-4">
          <a href="{% url 'register' %}" style="font-weight: bolder">
            <i class="material-icons">person_add</i>&nbsp;&nbsp;Register
          </a>
        </li>
      {% endif %}
    </ul>
    <div class="container-fluid">
      {% block container %}
      {% endblock container %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
      });
    </script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
