<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TIC-TAC-TOE - {% block title %}{% endblock title %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .inline-icons {
        {#clear: both !important;#}
        display: inline !important;
        vertical-align: top;
      }
    </style>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% include 'snippets/navbar.html' %}

    <div class="container-fluid">
      {% block container %}
        <div class="row" style="margin-top: 1%">
          {% block container_content %}
          {% endblock container_content %}
          <div class="col l3">
            <h3>Live Feed</h3>
          </div>
        </div>
      {% endblock container %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
      });
    </script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
